body {
    margin: 0;
}

header {
    background-color: rgb(43, 43, 43);
    color: white;
    height: 3rem;

    display: flex;
    align-items: center;
    padding: 0 1rem;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

main {
    margin-top: 3rem;
    padding: 0 1rem;
}