body {
    margin: 0;
}

header {
    background-color: rgb(43, 43, 43);
    color: white;
    height: 3rem;
    padding: 0 1rem;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    transition: height 300ms;
    overflow-y: hidden;
}

main {
    margin-top: 3rem;
    padding: 0 1rem;
}

header i {
    cursor: pointer;
}



.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.top-menu {
    height: 3rem;
}